<div *ngIf="currentCategory === 'anniversary'">
  <app-work-anniversery
    [data]="filteredObjects.anniverseries"
  ></app-work-anniversery>
</div>
<div *ngIf="currentCategory === 'birthdays'">
  <app-birthday [data]="filteredObjects.birthdays"></app-birthday>
</div>
<div *ngIf="currentCategory === 'certifications'">
  <app-certifications></app-certifications>
</div>
<div *ngIf="currentCategory === 'coreValues'">
  <app-core-values></app-core-values>
</div>
<div *ngIf="currentCategory === 'logisticsTerm'">
  <app-logistics-terms></app-logistics-terms>
</div>
<div *ngIf="currentCategory === 'logo'">
  <app-logo-container></app-logo-container>
</div>
